# Semester Part 3: Data Science

Selection of topics
 - Pandas module
 - Requests module
 - Beautifulsoup module
 - SQLite
 - Matplotlib module
 
Why these topics?

How can I get the most out of this part of the course?

# Outline for Wednesday, March 31
## Pandas 1 - Series

Core ideas:
 - Pandas helps deal with tabular (tables) data
 - List of lists is not good enough to match spreadsheets
 - Series: new data structure
     - hybrid of a dict and a list
     - Python dict "key" equivalent to "index" in pandas
     - Python list "index" quivalent to "integer position" in pandas
     - supports complicated expressions within lookup [...]
     - supports element-wise operations
     - supports boolean indexing
 - DataFrames aka tables (topic for Monday)
     - built from series
     - each series will be a column in the table

**Try importing pandas. If you don't already have it, run this command in your shell:**

pip install pandas

## Module naming abbreviation

Many pandas users abbreviate it as "pd".

## Create a series from a dict

In [1]:
d = {"one":7, "two":8, "three":9}
d

9

## Accessing values with index (.loc[...])

In [2]:
# dict access with key
d["one"]

7

## Accessing values with integer position (.iloc[...])

## Accessing multiple values with a list of integer positions

## Create a series from a list

In [3]:
num_list = [100, 200, 300]

## Slicing series using integer positions

In [4]:
letters_list = ["A", "B", "C", "D"]

In [5]:
letters_list

['A', 'B', 'C', 'D']

In [6]:
sliced_letter_list = letters_list[2:]
sliced_letter_list

['C', 'D']

In [7]:
sliced_letter_list[0]

'C'

## Slicing series using index

In [8]:
s = pd.Series({"one":7, "two":8, "three":9})
s

NameError: name 'pd' is not defined

## Element-wise operations
1. SERIES op SCALAR
2. SERIES op SERIES

In [29]:
nums = [1, 2, 3]
nums * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
nums + 3

In [ ]:
nums / 3

In [ ]:
#list recap
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l1 + l2

## What happens to element-wise operation if we have two series with different sizes?

In [ ]:
pd.Series([1, 2, 3]) + pd.Series([4, 5])

## Series with different types

In [ ]:
L = ["a", "Alice", True, 1, 4.5, [1,2], {"a":"Alice"}]
L

## How do you merge two series?

In [ ]:
s1 = pd.Series([1, 2, 3]) 
s2 = pd.Series([4, 5])
print(s1)
print(s2)

## Element-wise Ambiguity

In [ ]:
s1 = pd.Series({"A":10, "B": 20 })
s2 = pd.Series({"B":1, "A": 2 })
print(s1)
print(s2)

## How to insert an index-value pair?

In [ ]:
s = pd.Series({"A":10, "B": 20 })
print(s)

## Boolean indexing

In [ ]:
s = pd.Series([10, 2, 3, 15])
s

## How to extract numbers > 8?

## Element-wise String operations

In [ ]:
words = pd.Series(["APPLE", "boy", "CAT", "dog"])
words

## How to get the odd numbers from a list?

In [ ]:
s = pd.Series([10, 19, 11, 30, 35])
s

## BOOLEAN OPERATORS on series: and, or, not

## How to get numbers < 12 or numbers > 33?