# Outline for Wednesday, April 14
## Databases 1 - SQL

You will be able to:
 - Explain how a database is different from a CSV file or a JSON file
 - Use SQLite to connect to a database and pandas to query it
 - Write basic queries on a database using SELECT, FROM, WHERE, ORDER BY, and LIMIT
 
Vocabulary:
 - query
 - schema
 
Useful modules:
 - sqlite3

## What aren't we going to cover?

 - Schema design. (Changing the tables/columns and the relationships between them.)
 - Adding/removing rows from a database.
 - Concurrency. (Complications from multiple people querying the database at the same time.)
 - Performance.
 - Joins. (Combining multiple tables with related information.)
 
We are treating the database as a fixed object and giving you the tools necessary to interact with it.

## Databases and SQL

SQL == Structured Query Language

What is a query?
 - 
 
Why use a database rather than CSV/JSON?
 - 
 -
 -
 -
 - 
 - 
 
Popular SQL Databases (Mostly work the same)
 - SQL Server
 - Oracle
 - MySQL
 - PostgreSQL
 - SQLite <-- We will use this one because you already have the sqlite3 module

# Exercise: Madison bus routes in database form!

You will need to download the bus.db file and put it in the same directory as your notebook

## Database connection

## Typo example - bussssss.db

### pd.read_sql("QUERY", CONNECTION)
* Query: SELECT * FROM sqlite_master

### Let's close this bad connection

### Now let's open the correct bus.db

### Extract sql column from the DataFrame

### Let's iterate over df["sql"]

### Query: SELECT * FROM \<table_name\>

### Adding LIMIT to the query
* SELECT * FROM \<table_name\> LIMIT \<num_of_rows\>

# How many people get on a bus in Madison every day?
- we are interested in boarding table to answer this question

# Go West - which bus should I take to go as far west as possible?
- Smallest Longitude