In [1]:
import numpy as np
import pandas as pd

# Scoring and Metrics

In [2]:
# pattern: positive => True, negative => False
df = pd.DataFrame([
    [15, True],
    [-2, False],
    [99, True],
    [-10, False],
    [8, True],
    [5, True],
    [-1000, False],
    [-1, False],
], columns=["x", "y"])
train, test = df.iloc[:4], df.iloc[4:]

In [3]:
train

    x      y
0  15   True
1  -2  False
2  99   True
3 -10  False

In [4]:
test

      x      y
4     8   True
5     5   True
6 -1000  False
7    -1  False

In [10]:
from sklearn.linear_model import LogisticRegression
# TODO: 
# 1. train a LogisticRegression on training data
# 2. score the model on the test data
lr = LogisticRegression()
lr.fit(train[["x"]], train["y"])
lr.score(test[["x"]], test["y"])

0.75

In [6]:
# https://scikit-learn.org/stable/modules/model_evaluation.html#the-scoring-parameter-defining-model-evaluation-rules

In [22]:
from sklearn.metrics import accuracy_score
actual = test["y"]
predicted = lr.predict(test[["x"]])
accuracy_score(actual, predicted)

0.75

In [26]:
labels = [False, True]
cm = confusion_matrix(actual, predicted, labels)
cm = pd.DataFrame(cm, index=labels, columns=labels)
cm

       False  True
False      2      0
True       1      1

In [30]:
print("TP", cm.iloc[1,1]) # True Positives
print("TN", cm.iloc[0,0]) # True Negatives
print("FP", cm.iloc[0,1]) # False Positives
print("FN", cm.iloc[1,0]) # False Negatives

TP 1
TN 2
FP 0
FN 1

# Confusion Matrices

In [15]:
from sklearn.metrics import confusion_matrix
actual = ["dog", "dog", "dog", "dog", "cat", "cat", "cat", "mouse", "mouse"]
predicted = ["dog", "dog", "dog", "cat", "cat", "dog", "cat", "mouse", "mouse"]

In [20]:
labels = ["dog", "cat", "mouse", "horse"]
cm = confusion_matrix(actual, predicted, labels)
cm

array([[3, 1, 0, 0],
       [1, 2, 0, 0],
       [0, 0, 2, 0],
       [0, 0, 0, 0]])

In [21]:
# row: what it actually is
# col: what it got classified as
pd.DataFrame(cm, index=labels, columns=labels)

       dog  cat  mouse  horse
dog      3    1      0      0
cat      1    2      0      0
mouse    0    0      2      0
horse    0    0      0      0