In [ ]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Learning objectives

 - Pandas helps deal with tabular (tables) data
 - List of list is not adequate alternative to excel
 - Series: new data structure
     - hybrid of a dict and a list
     - Python dict "key" equivalent to "index" in pandas
     - Python list "index" quivalent to "integer position" in pandas
     - supports complicated expressions within lookup [...]
     - element-wise operation
     - boolean indexing
 - DataFrames aka tables (next lecture)
     - built from series
     - each series will be a column in the table

# Run the following command in terminal or powershell
## pip install pandas

## Module naming abbreviation

## Create a series from a dict

In [ ]:
d = {"one":7, "two":8, "three":9}
d

## Accessing values with index (.loc[...])

In [ ]:
# dict access with key
d["one"]

## Accessing values with integer position (.iloc[...])

## Accessing multiple values with a list of integer positions

In [ ]:
s

## Create a series from a list

In [ ]:
num_list = [100, 200, 300]

## Slicing series using integer positions

In [ ]:
letters_list = ["A", "B", "C", "D"]

In [ ]:
letters_list

In [ ]:
sliced_letter_list = letters_list[2:]
sliced_letter_list

In [ ]:
sliced_letter_list[0]

## Slicing series using index

In [ ]:
s = pd.Series({"one":7, "two":8, "three":9})
s

## Element-wise operations
1. SERIES op SCALAR
2. SERIES op SERIES

In [ ]:
nums = [1, 2, 3]
nums * 3

In [ ]:
nums + 3

In [ ]:
nums / 3

In [ ]:
#list recap
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l1 + l2

## What happens to element-wise operation if we have two series with different sizes?

In [ ]:
pd.Series([1, 2, 3]) + pd.Series([4, 5])

## Series with different types

In [ ]:
L = ["a", "Alice", True, 1, 4.5, [1,2], {"a":"Alice"}]
L

## How do you merge two series?

In [ ]:
s1 = pd.Series([1, 2, 3]) 
s2 = pd.Series([4, 5])
print(s1)
print(s2)

## Element-wise Ambiguity

In [ ]:
s1 = pd.Series({"A":10, "B": 20 })
s2 = pd.Series({"B":1, "A": 2 })
print(s1)
print(s2)

## How to insert an index-value pair?

In [ ]:
s = pd.Series({"A":10, "B": 20 })
print(s)

# Boolean indexing

In [ ]:
s = pd.Series([10, 2, 3, 15])
s

## How to extract numbers > 8?

In [ ]:
b = pd.Series([True, False, False, True])
b

## Element-wise String operations

In [ ]:
words = pd.Series(["APPLE", "boy", "CAT", "dog"])
words

## How to get the odd numbers from a list?

In [ ]:
s = pd.Series([10, 19, 11, 30, 35])
s

## BOOLEAN OPERATORS on series: and, or, not

## How to get numbers < 12 or numbers > 33?

In [ ]:
s

## How to get numbers > 12 and numbers < 33?

## How to get not of numbers > 12 and numbers < 33?