# Overview

In [1]:
import requests

In [20]:
url = "https://tyler.caraza-harter.com/hello.txt"

In [21]:
r = requests.get(url)
r

In [22]:
#assert r.status_code == 200
r.raise_for_status()

In [23]:
r.text

'Hello!  Welcome to my website.\n'

In [25]:
type(r.text)

str

In [26]:
print(r.text)

Hello!  Welcome to my website.

In [29]:
r = requests.get("https://tyler.caraza-harter.com/scores.json")
r.raise_for_status()

In [30]:
r.text

'{\n  "alice": 100,\n  "bob": 200,\n  "cindy": 300\n}\n'

In [33]:
import json
d = json.loads(r.text)
d

{'alice': 100, 'bob': 200, 'cindy': 300}

In [36]:
d["cindy"]

300

In [38]:
d = r.json() # shortcut for this: json.loads(r.text)
d["cindy"]

300

# Demo 1

In [39]:
r = requests.get("https://tyler.caraza-harter.com/data/reddit-UWMadison.json")
r.raise_for_status()

In [43]:
d = r.json()
d.keys()

dict_keys(['kind', 'data'])

In [46]:
d["data"].keys()

dict_keys(['modhash', 'dist', 'children', 'after', 'before'])

In [ ]:
d["data"].keys()

In [54]:
for child in d["data"]["children"]:
    print(child["data"]["title"])

[Mod Post] /r/UWMadison feedback thread
Any other aquariums on campus besides the one in Birge Hall?
Are there any classes that use Tableau, SQL or any other useful tools to do data analysis?
Is there any way to get an Access mental health appointment within a week?
Intermediate/Advanced 3-4 Credit L+S Class Recommendation
Looking for an artist/band to play a house show
Literature class...help!
Lost my wallet
Looking for Fall2020 semester short term lease
Odds I get into Madison
Looking for an easy study abroad summer program
When would we know which sections Professors are teaching
Does anyone have experience in MS Biology programs?
Question
Are you or anyone you know doing exciting research on environmental issues?
Art 100 - Online or In-Classroom?
Digital Studies certificate courses
Where can I find summer term grade distribution?
If you might have lost a phone on a bench in Van Hise or know who did, it's in the building lost and found now
Trying to Find a House for Next Year
Futsal games/club
How to approach situation?
Easy Literature Course
Need easy 3 credit course for next semester (freshman)
If you see this outside please pick it up and dm me
Class Recommendations for Business Student

# Demo 2

In [70]:
url = "https://tyler.caraza-harter.com/data/metro-TrapezeRealTimeFeed.json"
r = requests.get(url)
r.raise_for_status()

In [72]:
d = r.json()
d.keys()

dict_keys(['entity', 'header'])

In [88]:
for entity in d["entity"]:
    if entity["alert"] == None:
        continue
    for translation in entity["alert"]["description_text"]["translation"]:
        print(translation["text"])

Trips temporarily stop on the west side of N Mills, north of W Johnson-thru Nov 12
Trips skip stops along Lien, between E Washington and Thierer-thru Nov 17 @ https://bit.ly/2xuxUUD
Trips skip stops along Dempsey, Davies and Buckeye, between Cottage Grove & USH 51-thru Nov 15 @ https://bit.ly/2QQnrf7
Trips serve stop along W Johnson at Mills, between Charter & Lake-thru Nov @ https://bit.ly/2I6q5fu
Trips skip stops along Packers & First, between Commercial & E Washington-thru Nov 13
Trips temporarily stop on the west side of N Sherman, north of Roxbury-thru Jul 2020
Trips skip some stops west of Park & south of University (via Mills)-thru 2020 @ https://bit.ly/2Z62YdU
Trips skip stops along Broadway, between Bridge & Hoboken-thru Nov
Trips skip stops along Monona and Buckeye, between Cottage Grove & Turner-thru Nov 15 @ https://bit.ly/2QQnrf7
Trips skip stops along Davies and Buckeye, between Major & Turner-thru Nov 15 @ https://bit.ly/2QQnrf7
Trips skip stops along Babcock and Observatory, between Linden & Easterday-thru Nov 22

# Demo 3

In [90]:
base_url = "https://tyler.caraza-harter.com/data/states/"

In [94]:
r = requests.get(base_url + "state_files.txt")
r.raise_for_status()
file_names = r.text.split("\n")
print(file_names)

['Alabama.json', 'Alaska.json', 'Arizona.json', 'Arkansas.json', 'California.json', 'Colorado.json', 'Connecticut.json', 'Delaware.json', 'Florida.json', 'Georgia.json', 'Hawaii.json', 'Idaho.json', 'Illinois.json', 'Indiana.json', 'Iowa.json', 'Kansas.json', 'Kentucky.json', 'Louisiana.json', 'Maine.json', 'Maryland.json', 'Massachusetts.json', 'Michigan.json', 'Minnesota.json', 'Mississippi.json', 'Missouri.json', 'Montana.json', 'Nebraska.json', 'Nevada.json', 'New_Hampshire.json', 'New_Jersey.json', 'New_Mexico.json', 'New_York.json', 'North_Carolina.json', 'North_Dakota.json', 'Ohio.json', 'Oklahoma.json', 'Oregon.json', 'Pennsylvania.json', 'Rhode_Island.json', 'South_Carolina.json', 'South_Dakota.json', 'Tennessee.json', 'Texas.json', 'Utah.json', 'Vermont.json', 'Virginia.json', 'Washington.json', 'West_Virginia.json', 'Wisconsin.json', 'Wyoming.json']

In [107]:
table = [] # list of dicts (one per state)
for fname in file_names:
    print(fname)
    r = requests.get(base_url + fname)
    r.raise_for_status()
    d = r.json()
    d["state"] = fname
    table.append(d)
table

Alabama.json
Alaska.json
Arizona.json
Arkansas.json
California.json
Colorado.json
Connecticut.json
Delaware.json
Florida.json
Georgia.json
Hawaii.json
Idaho.json
Illinois.json
Indiana.json
Iowa.json
Kansas.json
Kentucky.json
Louisiana.json
Maine.json
Maryland.json
Massachusetts.json
Michigan.json
Minnesota.json
Mississippi.json
Missouri.json
Montana.json
Nebraska.json
Nevada.json
New_Hampshire.json
New_Jersey.json
New_Mexico.json
New_York.json
North_Carolina.json
North_Dakota.json
Ohio.json
Oklahoma.json
Oregon.json
Pennsylvania.json
Rhode_Island.json
South_Carolina.json
South_Dakota.json
Tennessee.json
Texas.json
Utah.json
Vermont.json
Virginia.json
Washington.json
West_Virginia.json
Wisconsin.json
Wyoming.json

[{'2000': 4447100, '2010': 4779736, '2015': 4846411, 'state': 'Alabama.json'},
 {'2000': 626932, '2010': 710231, '2015': 737046, 'state': 'Alaska.json'},
 {'2000': 5130632, '2010': 6392017, '2015': 6728783, 'state': 'Arizona.json'},
 {'2000': 2673400, '2010': 2915918, '2015': 2966835, 'state': 'Arkansas.json'},
 {'2000': 33871648,
  '2010': 37253956,
  '2015': 38792291,
  'state': 'California.json'},
 {'2000': 4301261, '2010': 5029196, '2015': 5355588, 'state': 'Colorado.json'},
 {'2000': 3405565,
  '2010': 3574097,
  '2015': 3594762,
  'state': 'Connecticut.json'},
 {'2000': 783600, '2010': 897934, '2015': 935968, 'state': 'Delaware.json'},
 {'2000': 15982378,
  '2010': 18801310,
  '2015': 19905569,
  'state': 'Florida.json'},
 {'2000': 8186453, '2010': 9687653, '2015': 10097132, 'state': 'Georgia.json'},
 {'2000': 1211537, '2010': 1360301, '2015': 1420257, 'state': 'Hawaii.json'},
 {'2000': 1293953, '2010': 1567582, '2015': 1634806, 'state': 'Idaho.json'},
 {'2000': 12419293,
  '2010': 12830632,
  '2015': 12882189,
  'state': 'Illinois.json'},
 {'2000': 6080485, '2010': 6483802, '2015': 6597880, 'state': 'Indiana.json'},
 {'2000': 2926324, '2010': 3046355, '2015': 3109481, 'state': 'Iowa.json'},
 {'2000': 2688418, '2010': 2853118, '2015': 2902507, 'state': 'Kansas.json'},
 {'2000': 4041769, '2010': 4339367, '2015': 4412617, 'state': 'Kentucky.json'},
 {'2000': 4468976,
  '2010': 4533372,
  '2015': 4648990,
  'state': 'Louisiana.json'},
 {'2000': 1274923, '2010': 1328361, '2015': 1330256, 'state': 'Maine.json'},
 {'2000': 5296486, '2010': 5773552, '2015': 5975346, 'state': 'Maryland.json'},
 {'2000': 6349097,
  '2010': 6547629,
  '2015': 6755124,
  'state': 'Massachusetts.json'},
 {'2000': 9938444, '2010': 9883640, '2015': 9916306, 'state': 'Michigan.json'},
 {'2000': 4919479,
  '2010': 5303925,
  '2015': 5457125,
  'state': 'Minnesota.json'},
 {'2000': 2844658,
  '2010': 2967297,
  '2015': 2993443,
  'state': 'Mississippi.json'},
 {'2000': 5595211, '2010': 5988927, '2015': 6063827, 'state': 'Missouri.json'},
 {'2000': 902195, '2010': 989415, '2015': 1023252, 'state': 'Montana.json'},
 {'2000': 1711263, '2010': 1826341, '2015': 1882980, 'state': 'Nebraska.json'},
 {'2000': 1998257, '2010': 2700551, '2015': 2838281, 'state': 'Nevada.json'},
 {'2000': 1235786,
  '2010': 1316470,
  '2015': 1327996,
  'state': 'New_Hampshire.json'},
 {'2000': 8414350,
  '2010': 8791894,
  '2015': 8938844,
  'state': 'New_Jersey.json'},
 {'2000': 1819046,
  '2010': 2059179,
  '2015': 2085567,
  'state': 'New_Mexico.json'},
 {'2000': 18976457,
  '2010': 19378102,
  '2015': 19748858,
  'state': 'New_York.json'},
 {'2000': 8049313,
  '2010': 9535483,
  '2015': 9940387,
  'state': 'North_Carolina.json'},
 {'2000': 642200,
  '2010': 672591,
  '2015': 740040,
  'state': 'North_Dakota.json'},
 {'2000': 11353140, '2010': 11536504, '2015': 11596998, 'state': 'Ohio.json'},
 {'2000': 3450654, '2010': 3751351, '2015': 3879610, 'state': 'Oklahoma.json'},
 {'2000': 3421399, '2010': 3831074, '2015': 3971202, 'state': 'Oregon.json'},
 {'2000': 12281054,
  '2010': 12702379,
  '2015': 12793767,
  'state': 'Pennsylvania.json'},
 {'2000': 1048319,
  '2010': 1052567,
  '2015': 1054907,
  'state': 'Rhode_Island.json'},
 {'2000': 4012012,
  '2010': 4625364,
  '2015': 4829160,
  'state': 'South_Carolina.json'},
 {'2000': 754844,
  '2010': 814180,
  '2015': 853304,
  'state': 'South_Dakota.json'},
 {'2000': 5689283,
  '2010': 6346105,
  '2015': 6547779,
  'state': 'Tennessee.json'},
 {'2000': 20851820, '2010': 25145561, '2015': 26979078, 'state': 'Texas.json'},
 {'2000': 2233169, '2010': 2763885, '2015': 2944498, 'state': 'Utah.json'},
 {'2000': 608827, '2010': 625741, '2015': 626767, 'state': 'Vermont.json'},
 {'2000': 7078515, '2010': 8001024, '2015': 8328098, 'state': 'Virginia.json'},
 {'2000': 5894121,
  '2010': 6724540,
  '2015': 7063166,
  'state': 'Washington.json'},
 {'2000': 1808344,
  '2010': 1852994,
  '2015': 1848751,
  'state': 'West_Virginia.json'},
 {'2000': 5363675,
  '2010': 5686986,
  '2015': 5759432,
  'state': 'Wisconsin.json'},
 {'2000': 493782, '2010': 563626, '2015': 584304, 'state': 'Wyoming.json'}]

In [114]:
import pandas as pd
df = pd.DataFrame(table)
df.head()

       2000      2010      2015            state
0   4447100   4779736   4846411     Alabama.json
1    626932    710231    737046      Alaska.json
2   5130632   6392017   6728783     Arizona.json
3   2673400   2915918   2966835    Arkansas.json
4  33871648  37253956  38792291  California.json

In [115]:
df = df.set_index("state")
df.head()

                     2000      2010      2015
state
Alabama.json      4447100   4779736   4846411
Alaska.json        626932    710231    737046
Arizona.json      5130632   6392017   6728783
Arkansas.json     2673400   2915918   2966835
California.json  33871648  37253956  38792291

In [118]:
df.mean(axis=0)

2000    5616996.94
2010    6162876.30
2015    6364951.30
dtype: float64

In [120]:
df.mean(axis=1) / 1000000

state
Alabama.json            4.691082
Alaska.json             0.691403
Arizona.json            6.083811
Arkansas.json           2.852051
California.json        36.639298
Colorado.json           4.895348
Connecticut.json        3.524808
Delaware.json           0.872501
Florida.json           18.229752
Georgia.json            9.323746
Hawaii.json             1.330698
Idaho.json              1.498780
Illinois.json          12.710705
Indiana.json            6.387389
Iowa.json               3.027387
Kansas.json             2.814681
Kentucky.json           4.264584
Louisiana.json          4.550446
Maine.json              1.311180
Maryland.json           5.681795
Massachusetts.json      6.550617
Michigan.json           9.912797
Minnesota.json          5.226843
Mississippi.json        2.935133
Missouri.json           5.882655
Montana.json            0.971621
Nebraska.json           1.806861
Nevada.json             2.512363
New_Hampshire.json      1.293417
New_Jersey.json         8.715029
New_Mexico.json         1.987931
New_York.json          19.367806
North_Carolina.json     9.175061
North_Dakota.json       0.684944
Ohio.json              11.495547
Oklahoma.json           3.693872
Oregon.json             3.741225
Pennsylvania.json      12.592400
Rhode_Island.json       1.051931
South_Carolina.json     4.488845
South_Dakota.json       0.807443
Tennessee.json          6.194389
Texas.json             24.325486
Utah.json               2.647184
Vermont.json            0.620445
Virginia.json           7.802546
Washington.json         6.560609
West_Virginia.json      1.836696
Wisconsin.json          5.603364
Wyoming.json            0.547237
dtype: float64

In [121]:
df.describe()

               2000          2010          2015
count  5.000000e+01  5.000000e+01  5.000000e+01
mean   5.616997e+06  6.162876e+06  6.364951e+06
std    6.185580e+06  6.848235e+06  7.152086e+06
min    4.937820e+05  5.636260e+05  5.843040e+05
25%    1.735533e+06  1.833004e+06  1.857308e+06
50%    4.026890e+06  4.436370e+06  4.530804e+06
75%    6.281944e+06  6.680312e+06  6.986156e+06
max    3.387165e+07  3.725396e+07  3.879229e+07